body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation {
	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 2em;
	}
}

small {
	font-size: 0.5em;
}